*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #600e00;
}

header .header_index {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 12px 24px;
}
header .header_index .link_product{
    display: flex;
    justify-content: space-between;
}
header .header_index .link_product a{
    text-align: center;
    line-height: 68px;
}
header .header_index .link_user{
    display: flex;
    justify-content: space-between;
}
header .header_index .link_user a{
    text-align: center;
    line-height: 68px;
    padding-left: 5px;
}
header .header_index img{
    height: 64px;
}
header .header_index a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}

.header_admin .header_index {
    padding: 12px 24px 12px 24px;
}
.header_admin .header_index .link_user{
    display: flex;
    justify-content: space-between;
}
.header_admin .header_index .link_user a{
    text-align: center;
    line-height: 68px;
    padding-left: 5px;
}
.header_admin .header_index img{
    height: 64px;
}
.header_admin .header_index a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}




#main{
    width: 100%;
    height: 100%;
}

#main #content{
    display: flow-root;
    background-image: url('../image/OIP.png');
    width: 100%;
    height: 73vh;
}
#main #content h2{
    display: flex;
    padding: 10px;
    margin-top: 100px;
    margin-left: 200px;
    font-size: 3rem;
    color: white;
}
#main #content .sub{
    display: flex;
    padding: 10px;
    margin-left: 200px;
    font-size: 1.3rem;
    color: orangered;
}
#main #content .text{
    display: flex;
    padding: 10px;
    margin-left: 200px;
    font-size: 1.2rem;
    color: white;
}
#main #content .link{
    display: flex;
    text-decoration: none;
    width: 160px;
    padding: 10px 25px; 
    margin-left: 200px;
    font-size: 1.3rem;
    color: white;
    background-color: #600e00;
    margin-bottom: 180px;
} 



 footer{
    display: flex;
    background-color: #600e00;
}
footer .footer{
    margin-left: 30px;
    align-items: center;
    margin-top: 20px;
    float: left;
}
footer .footer .icon_info{
    margin-left: 100px;
}
footer .footer p{
    margin-left: 70px;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-start;
}
footer .footer .phone{
    margin-top: 20px;
    width: 500px;
    display: flex;
    margin-left: 50px;
}
footer .footer .phone p{
    align-items: center;
    margin-left: 0px;
}
footer .footer .phone a{
    align-items: center;
    float: left;
}
footer .footer .text{
    margin-right: 20px;
    align-items: center;
    color: white;
}
footer .map iframe {
    align-items: center;
    padding-bottom: 20px;
    width: 60vh;
    height: 200px;
}
footer .map .address img {
    float: left;
    margin-top: 20px;
}
footer .map .address {
    display: flex;
    color: white;
    font-size: 1.3r;
    margin-top: 20px;
   
} 
footer .map .address p{
    line-height: 34px;  
}
footer .map  {
    margin-right: 20px;
}





/* three menu */
#main #container{
    display: flex;
} 
#main #container #contentleft{
    float: left;
    height: 100vh;;
    width: 15%;

}
#main #container #contentcenter{
    float:left;
    height: 100vh;
    width: 70%;  
}
#main #container #contentright {
    float:right;
    height: 100vh;
    width: 15%;
}





/* Style ListMenu */
 .listMenuProduct{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #600e00;
    border-top: 2px solid black;
}

.listMenuProduct ul li{
    display: flex;
    position: relative;
    margin-left: 40px;
    list-style: none;
    width: 150px;
    font-size: 1.5rem;
    padding-top: 10px;
}

.listMenuProduct ul li:last-child{
    margin-bottom: 10px;
}

.listMenuProduct ul li a{ 
  text-decoration: none;
  color: white;
}

.listMenuAdmin{
    display: none;
    position: absolute;
    width: 300px;
    background-color: #600e00;
    border-top: 2px solid black;
}

.listMenuAdmin ul li{
    flex-direction: column;
    margin-left: 40px;
    list-style: none;
    width: 250px;
    font-size: 1.5rem;
    padding-top: 10px;
}

.listMenuAdmin ul li:last-child{
    margin-bottom: 10px;
}

.listMenuAdmin ul li a{ 
  text-decoration: none;
  text-align: center;
  color: white;
}
.listMenuAdmin ul li img{ 
  color: white;
  height: 32px;
  width: 32px;
}

.listMenuUser{
    display: none;
    position: absolute;
    left: 83%;
    overflow: hidden;
    width: 20%;
    background-color: #600e00;
    border-top: 2px solid black;
}

.listMenuUser ul li{
    position: relative;
    margin-left: 20px;
    list-style: none;
    width: 250px;
    font-size: 1.5rem;
    padding-top: 10px;
}

.listMenuUser ul li:last-child{
   margin-bottom: 10px;
}

.listMenuUser ul li a{ 
    text-decoration: none;
    color: white;
} 
.listMenuUser ul li img{ 
    width: 32px;
    color: white;
} 



@media screen and (max-width: 1050px){

    #main #content {
        height: 73vh;
    }

    #main #content h2{
        margin-left: 100px;
    }

    #main #content .sub{
        margin-left: 100px;
    }

    #main #content .text{
        margin-left: 100px;
    }

    #main #content .link{
        margin-left: 100px;
        width: 20%;
    }
    
    footer{
        display: inline-block;
    }

    footer .footer .text {
        margin-bottom: 20px;
    }

    footer .map .address {
        display: block;
        margin-left: 20px;
    }
    
    footer .map iframe {
        margin-left: 70px;
    }

    .listMenuProduct {
        width: 200px;
    }

    .listMenuUser {
        left: 76%;
        width: 250px;
    }


}

@media screen and (max-width: 600px){

    #main #content {
        height: 73vh;
    }

    #main #content h2{
        margin-left: 50px;
    }

    #main #content .sub{
        margin-left: 50px;
    }

    #main #content .text{
        margin-left: 50px;
    }

    #main #content .link{
        margin-left: 50px;
        width: 20%;
    }
    
    footer{
        display: block;
    }

    footer .footer .text {
        margin-bottom: 20px;
    }

    footer .map .address {
        display: block;
        margin-left: 20px;
    }
    
    footer .map iframe {
        margin-left: 70px;
    }

    .listMenuProduct {
        width: 200px;
    }

    .listMenuUser {
        left: 57%;
        width: 250px;
    }
}





