* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content_admin  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('../image/admin_background.jpg') repeat scroll 0 0 transparent;
    padding-bottom: 50px;
}   

#content_admin_button_add {
    float: right;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 10%;
    background-color: #A92F2F;
    color: white;
    font-size: 20px;
    font-family: 'OpenSans-regular';
    font-weight: bold;
    border: #A92F2F;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 5px #999;
}

#content_admin_button_add:active  {
    box-shadow: 0 2px #999;
    transform: translateY(3px);
}

.content_admin_table_view {
    padding-left: 10px;
    padding-right: 10px;
}


#content_admin_table {
    width: 75%;
    background-color: #A92F2F;
    color: white;
    font-family:'OpenSans-regular';
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#content_admin_table_thead tr th {
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#content_admin_table_thead tr th:nth-child(1) {
    width: 40%;
}

#content_admin_table_thead tr th:nth-child(2) {
    width: 40%;
}

#content_admin_table_thead tr th:nth-child(3) {
    width: 10%;
}

#content_admin_table_thead tr th:nth-child(4) {
    width: 10%;
}

#content_admin_table_tbody tr td {
    border: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.content_admin_button_edit {
    background-color: white;
    color: #A92F2F;
    font-family: 'OpenSans-regular';
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.content_admin_button_edit_view {
    text-align: center;
}

.content_admin_button_edit:active  {
    background-color: #ED6262;
    color: white;
}

/* css content-admin-tax-manager */
#content_admin_tax_manager {
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 98vw;
    background-image: url('../image/admin_background.jpg');
}

#content_admin_tax_table {
    width:100%;
	border:1px solid red;
    font-family:'OpenSans-regular';
    table-layout: fixed;
}

#content_admin_tax_table thead {
    background-color: #a92f2f;
}

#content_admin_tax_table thead th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

#content_admin_tax_table tbody td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    background-color: #888;
}

.content_admin_table_item_button {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    position: relative;
    background-color: black;
    color: white;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    font-size: 13px;
}

.content_admin_table_item_button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}

.content_admin_table_item_button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 20px white;
  }

.content_admin_table_item_button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.content_admin_table_item_button:active {
    top: 1px;
}

.content_admin_button_view {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    border-radius: 15px;
    background-color: #ED6262;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px 20px 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

/* Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.content_admin_form_1_item {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content_admin_form_1_item_text {
    flex: 1;
}

.content_admin_form_1_item_input {
    flex: 3;
    border-radius: 7px;
    border-color: white;
    padding: 3px;
    font-size: 18px;
}

.content_admin_form_1_item_input:focus {
    flex: 3;
}

.content_admin_form_2_item {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content_admin_form_text_style {
    color: white;
    font-size: 18px;
}

.content_admin_form_input_style {
    border-radius: 7px;
    border-color: red;
    padding: 3px;
    font-size: 17px;
}

.content_admin_form_buttons_view_style {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 50%;
}

.content_admin_form_buttons_row_style {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* background-color: #888; */ 
}

.content_admin_form_button_view_style {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.content_admin_form_button_style {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 10px;
    border-color: #ED6262;
}